body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.information {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

#myChart {
  max-width: 70vw;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
}
